<div th:fragment="table" class="container row">
    <th:block th:each="nom : ${nomina}">
        <div class="col-2">
            <img th:src="@{image/medium.webp}" alt="img" class="img-fluid img-thumbnail"/>
        </div>
        <div class="col-10">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="col-4">Valor</th>
                    <th scope="col" class="col-8">Dato</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${nom.apellido}">
                    <th scope="row">Apellido</th>
                    <td th:text="${{nom.apellido}}"></td>
                </tr>
                <tr th:if="${nom.nombre}">
                    <th scope="row">Nombre</th>
                    <td th:text="${{nom.nombre}}"></td>
                </tr>
                <tr th:if="${nom.cargo}">
                    <th scope="row">Cargo</th>
                    <td th:text="${{nom.cargo}}"></td>
                </tr>
                <tr th:if="${nom.barrio}">
                    <th scope="row">Barrio</th>
                    <td th:text="${{nom.barrio}}"></td>
                </tr>
                <tr th:if="${nom.celular}">
                    <th scope="row">celular</th>
                    <td th:text="${{nom.celular}}"></td>
                </tr>
                <tr th:if="${nom.dias}">
                    <th scope="row">dias</th>
                    <td th:text="${{nom.dias}}"></td>
                </tr>
                <tr th:if="${nom.domicilio}">
                    <th scope="row">domicilio</th>
                    <td th:text="${{nom.domicilio}}"></td>
                </tr>
                <tr th:if="${nom.email}">
                    <th scope="row">email</th>
                    <td th:text="${{nom.email}}"></td>
                </tr>
                <tr th:if="${nom.estado}">
                    <th scope="row">estado</th>
                    <td th:text="${{nom.estado}}"></td>
                </tr>
                <tr th:if="${nom.fechaDestitucion}">
                    <th scope="row">fechaDestitucion</th>
                    <td th:text="${{nom.fechaDestitucion}}"></td>
                </tr>
                <tr th:if="${nom.horario}">
                    <th scope="row">horario</th>
                    <td th:text="${{nom.horario}}"></td>
                </tr>
                <tr th:if="${nom.imagen}">
                    <th scope="row">imagen</th>
                    <td th:text="${{nom.imagen}}"></td>
                </tr>
                <tr th:if="${nom.localidad}">
                    <th scope="row">localidad</th>
                    <td th:text="${{nom.localidad}}"></td>
                </tr>
                <tr th:if="${nom.matricula}">
                    <th scope="row">matricula</th>
                    <td th:text="${{nom.matricula}}"></td>
                </tr>
                <tr th:if="${nom.registro}">
                    <th scope="row">registro</th>
                    <td th:text="${{nom.registro}}"></td>
                </tr>
                <tr th:if="${nom.nombre}">
                    <th scope="row">Nombre</th>
                    <td th:text="${{nom.nombre}}"></td>
                </tr>
                <tr th:if="${nom.mostrarImagen}">
                    <th scope="row">mostrarImagen</th>
                    <td th:text="${{nom.mostrarImagen}}"></td>
                </tr>
                <tr th:if="${nom.sexo}">
                    <th scope="row">sexo</th>
                    <td th:text="${{nom.sexo}}"></td>
                </tr>
                <tr th:if="${nom.telefono}">
                    <th scope="row">telefono</th>
                    <td th:text="${{nom.telefono}}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
</div>