
<div th:fragment="table" class="container row">
    <div class="col-2">
        <img class="img-fluid img-thumbnail" src="/medium.webp" alt="img"/>

    </div>
    <div class="col-10">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="col-4"></th>
                <th scope="col" class="col-8">Dato</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="nom : ${nomina}">
                <tr th:if="${nom.apellido}">
                    <th scope="row">1</th>
                    <td th:text="${{nom.apellido}}"></td>
                </tr>
            </th:block>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Ladasdasdarry</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>